h1.titre
{
   text-align: center;
}

div
{
   margin-bottom: 1em;
}

div.logo
{
   float: right;
   margin-top: 15px;
}
.imgSysPiece ul
{
   padding: 0px;
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
}

.imgSysPiece li
{
   list-style: none;
}

.grid-container
{
   display: grid;
   margin: 5px;
}

form
{
   display: grid;
   grid-template-columns: 1fr 1fr 2fr 3fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   grid-template-areas:
  "t1    t2     t3        t4"
  "forme dim quantite1 longueur1"
  "vi    vi  quantite2   stock1"
  "vi    vi  longueur2  stock2";
   grid-column-gap: 10px;
   grid-row-gap: 10px;
}

.lgts
{
   grid-area: quantite2;
}

.lgtt
{
   background-color: green;
}

.stoi
{
   grid-area: stock1;
}

.stof
{
   grid-area: stock2;
   background-color: red;
}

.t1
{
   grid-area: t1;
}

.t2
{
   grid-area: t2;
}

.t3
{
   grid-area: t3;
}

.t4
{
   grid-area: t4;
}

